.stupid-body::after {
  z-index: 9007199254740991;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #b329eecc, #22e413cc);
  mix-blend-mode: difference;
  user-select: none;
  pointer-events: none;
  animation: stupidAnimation 0.5s linear infinite;
}

.disable-scroll {
  overflow: hidden !important;
}

@keyframes stupidAnimation {
  0%,
  100% {
    background-image: linear-gradient(to bottom right, #b329eecc, #22e413cc);
  }
  12.5% {
    background-image: linear-gradient(to bottom, #22e413cc, #b329eecc);
  }
  25% {
    background-image: linear-gradient(to bottom left, #b329eecc, #22e413cc);
  }
  37.5% {
    background-image: linear-gradient(to left, #22e413cc, #b329eecc);
  }
  50% {
    background-image: linear-gradient(to top left, #b329eecc, #22e413cc);
  }
  62.5% {
    background-image: linear-gradient(to top, #22e413cc, #b329eecc);
  }
  75% {
    background-image: linear-gradient(to top right, #b329eecc, #22e413cc);
  }
  87.5% {
    background-image: linear-gradient(to right, #22e413cc, #b329eecc);
  }
}
